#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.topNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: space-between;
}

.bottomNav, .contactsList, .socialsList {
  display: flex;
  flex-direction: column;
}
